.InRoom-game_area {
  width: 70vw;
}

.InRoom-room_code {
  text-align: right;
  margin-bottom: 20px;
}

.InRoom-room_code-code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 130%;
}

.InRoom-character {
  font-size: 130%;
  color: red;
  font-weight: bold;
}

.InRoom-who_starts {
  margin-top: 10px;
  font-weight: bold;
}

.InRoom-voting {
  margin-top: 20px;
}

.InRoom-voting ul {
  list-style: none;
  padding-left: 0;
}

.InRoom-voting li {
  margin-top: 10px;
}

.InRoom-voting input[type="radio"] {
  display: none;
}

.InRoom-voting label {
  display: inline-block;
  padding: 4px 11px;
  font-size: 120%;
  cursor: pointer;
}

.InRoom-voting input[type="radio"]:checked+label {
  background-color: #bbb;
}

.InRoom-what_to_do {
  margin-top: 30px;
  font-size: 90%;
}

.InRoom-start_new_game {
  margin-top: 20px;
}

.InRoom-leave {
  margin-top: 30px;
}